<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="../static/my_js.js"></script>
    <link href="../static/my_css.css" rel="stylesheet" type="text/css">
    <title>Survey</title>
  </head>
  <body>
    <div class="header" id="myHeader">
      <h2>A draft questionnaire for Household Survey on Covid-19 Pandemic in India.</h2>
    </div>
    <p class="margin"><h3>
      Welcome and thank you for participating in this survey. This survey, conducted by researchers at reputed educational institutions in India aims to collect information on household members during the Covid19 pandemic lockdown in India. The survey will be repeated once more when the lockdown will not be in effect to understand how the Covid19 affected people in Indian households. This is not a study done by any Government agency. We will not collect or share any personal details about you with anyone, and we will only ask for your email address to be able to contact you for a follow-up survey later. Our study will not allow anyone to identify you or any member of your household, as the findings of our study will only be reported in the aggregate. The study will not be used for any commercial purposes.
    </h3>
    </p>

    <center>
      <form action="disagree" method="post">
        <input type="submit" name="" class="question_disagree_button" value="Disagree" />
      </form>
      <form action="agree" method="post">
        <input type="submit" name="" class="question_agree_button" value="Agree" />
      </form>

  </body>
</html>
