<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Submit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="../static/my_js.js"></script>
    <link href="../static/my_css.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="section">
      <p>
        <h1>Thank You!</h1>
        <h3>Your response has been successfully submitted.</h3>
        <h4>For any query related to our research you may mail us at <a href="mailto:householdsurveyproject@gmail.com"><I>householdsurveyproject@gmail.com</I></a>
        </h4>
      </p>
      <p>
    </div>

    <div class="section">
      <p>
        <h5>
        Developed by:</br>
        </h5>
        <h6>
        TAMOJIT DAS</br>
        Email: <a href="mailto:tamojitdas2000@gmail.com">tamojitdas2000@gmail.com</a></br>
        Contact: <a href="tel:9073016823">9073016823</a></br>
        <a href="https://tamojitdas2000.github.io/">Portfolio</a>
      </h6>


      </p>
    </div>






  </body>
</html>
